<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TFLAssessmentTestSuiteSuite" verbose="1">

    <test name="SME Tests">
        <classes>
            <class name="com.transflower.TFLAssessment.TFLAssessement_Testing.SME.SMELoginTest"/>
        </classes>
    </test>

    <test name="Student Tests">
        <classes>
            <class name="com.transflower.TFLAssessment.TFLAssessement_Testing.StudentLogin.StudentLoginTest"/>
        </classes>
    </test>

</suite>
